<div class="container-fluid">
	<div class="pending-homepage row">
	<h3>Items Pending Approval</h3>
	<%= render partial: 'pending_approval',locals:{ pending_approvals: @pending_approvals} %>
	</div>

	<div class="pending-homepage">
		<div>
			<p>asdf</p>
		</div>
	</div>
</div>